.footerContainer
  background-color: #0c0c0c
  padding-top: 50px

  .container
    display: flex
    align-items: center

    .info
      display: flex
      flex: 1 0 0
      margin-inline-end: 200px

      ul
        list-style: none

        &:not(:last-child)
          margin-inline-end: 100px

        li
          &:not(:last-child)
            margin-bottom: 5px

          &:first-child
            font-weight: 900
            font-size: 20px
            margin-bottom: 20px

        a
          &:not(:last-child)
            margin-bottom: 10px

      .contactUs
        display: flex
        flex-direction: column
        span
          font-weight: 900
          font-size: 20px
          margin-bottom: 20px

        a
          &:not(:last-child)
           margin-bottom: 5px

        > div
          margin-bottom: 20px


  section
    width: 100%
    background-color: rgba(54, 54, 54, 0.2)
    padding: 20px 0
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px

@media (max-width: 1300px)
  .footerContainer
    .container
      flex-direction: column
      align-items: center
      .info
        margin-inline-end: 0
        margin-top: 50px

@media (max-width: 600px)
  .footerContainer
    .container
      .info
        ul
          &:nth-of-type(3)
           margin-inline-start: 50px
           border: 1px solid red !important

          &:first-child
            margin-inline-end: 0

          &:nth-child(2)
            display: none



