.product
  position: absolute
  background-color: rgba(0,0,0,0.8)
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 90%
  height: 90vh
  z-index: 5
  //backdrop-filter: blur(5px)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px

  .closeIcon
    position: absolute
    top: 5%
    color: var(--primary-color)
    width: 50px
    height: 50px
    right: 3%
    cursor: pointer

  .content
    z-index: 20

    .carName
      font-size: 50px
      color: var(--primary-color)
      margin: 100px 50px 0 0

    .information
      display: flex
      margin: 50px
      align-self: end
      z-index: 10

      .slider
        position: relative
        width: 725px
        margin-left: 40px

        .images
          object-fit: contain

      .carDescription

        .relatedProduct
          display: flex
          align-items: center
          font-size: 22px

          .openIcon
            margin-right: 5px
            cursor: pointer

        .infoTitle
          font-size: 32px
          color: var(--primary-color)

        .proList
          list-style-type: none
          padding: 0
          margin: 15px 0 0 0
          max-width: 200px
          background-color: #222
          border-radius: 8px
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5)

        .proItems
          padding: 12px 16px
          color: #fff
          font-size: 16px
          border-bottom: 1px solid #444
          transition: background-color 0.3s

        .proItems:last-child
          border-bottom: none

        .proItems:hover
          background-color: #ffb700
          color: #222

        .carDes

          .carDesTitle
            font-weight: bold
            font-size: 22px
            margin-bottom: 15px
            color: var(--primary-color)


          .carDesContent
            width: 600px

        .productProperties
          background-color: #2b2b2b
          border-radius: 8px
          padding: 20px
          width: 600px
          margin-top: 40px

        .productProperties h3
          text-align: center
          color: var(--primary-color)
          margin-bottom: 20px

        .productList
          display: grid
          grid-template-columns: repeat(3, 1fr)
          grid-template-rows: repeat(2, 60px)
          gap: 15px
          list-style: none
          padding: 0

        .productList li
          background-color: #1e1e1e
          padding: 15px
          border-radius: 5px
          color: #f0f0f0
          display: flex
          flex-direction: column
          justify-content: center
          align-items: flex-start
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
          transition: background-color 0.3s ease

        .productList li:hover
          background-color: #0b0b0b
          color: #ffffff

        .productList h5
          margin: 0
          font-weight: normal
